.image{
    border: 5px solid darkorange;
    float: left;
    margin-right: 10px;
}

#para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: cursive;
    color: #ffffff;
}

.bet{
    clear: left;
}

h2{
    font-family: "Audiowide";
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    background-color: darkorange;
}
/* heading */

body{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('img.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1.heading{
    color: orangered;
    padding: 8px;
    text-transform: uppercase;
    margin-top: -10px;
    letter-spacing: 5px;
    font-family: cursive;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    margin-top: -3.5em;
}

ul li{
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration-line: none;
    padding: 1.4em;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: orange;
}

ul li a.home:hover{
    background-color: darkorange;
    color: white;
}

.home{
    background-color: darkcyan;
    border-radius: 100px;
    width: 2px;
}


